@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", Arial, sans-serif;
    background-color: #FFFFFF;
}

.text-center {
    text-align: center !important;
}

.mt-10 {
    margin-top: 10px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.arrow {
    border: solid $lightBlack;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}

.arrow-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}